Django==1.9.4
django-sendfile==0.3.10
lxml==3.5.0
django-taggit==0.18.0
django-contrib-comments==1.6.2
django-formtools==1.0
django-pure-pagination==0.3.0
django-userena==2.0.1
django-bootstrap3==6.2.2
django-autocomplete-light==3.0.4
django-precise-bbcode==1.2.2
# image handling (thumbnails, covers)
Pillow==2.9.0  # https://github.com/python-pillow/Pillow/issues/1457
# language management
pycountry==1.20
language-tags==0.4.1
# deployment
fabric==1.10.2

