Django==1.8.9
django-sendfile==0.3.10
fabric==1.10.2
lxml==3.5.0
django-taggit==0.18.0
Pillow==2.9.0  # https://github.com/python-pillow/Pillow/issues/1457
django-contrib-comments==1.6.2
django-formtools==1.0
django-pure-pagination==0.3.0
django-userena==1.5.1
django-guardian==1.4.1
django-bootstrap3==6.2.2
django-autocomplete-light==3.0.4
