# -*- coding: utf-8 -*-
"""
Sample deployment-specific Django settings. The variables defined in this file
override those set on settings.py - please customize it to your needs and
rename it to "local_settings.py".
"""
from settings import TEMPLATES, BASE_DIR

DEBUG = True
TEMPLATES[0]['OPTIONS']['debug'] = DEBUG

DATABASES = {
    'default': {
        'ENGINE': 'django.db.backends.sqlite3',
        'NAME': os.path.join(BASE_DIR, 'db.sqlite'),
    }
}

# Customize this variable to a unique, random string.
SECRET_KEY = 'some random unique string'
