{% extends "base.html" %}
{% load i18n %}
{% load static from staticfiles %}
{% load comments %}
{% load thumbnail %}

{% block title %}{% trans "Authors" %}{% endblock %}

{% block extra_css %}
    <link rel="stylesheet"
          href="https://cdn.datatables.net/1.10.10/css/jquery.dataTables.min.css"
          type="text/css"/>
    <link rel="stylesheet"
          href="https://cdn.datatables.net/select/1.1.0/css/select.dataTables.min.css"
          type="text/css"/>
    <link rel="stylesheet" href="{% static "style/book_list.css" %}"
          type="text/css">
{% endblock %}

{% block extra_js %}
    <script type="text/javascript"
            src="https://cdn.datatables.net/1.10.10/js/jquery.dataTables.min.js"></script>
    <script type="text/javascript"
            src="https://cdn.datatables.net/select/1.1.0/js/dataTables.select.min.js"></script>
    <script type="text/javascript"
            src="{% static "js/book_list.js" %}"></script>
{% endblock %}

{% block script %}
{{ block.super }}
$(document).ready(function(){
    {% if q != None %}
        $('#search').val('{{ q }}');
    {% else %}
        $('#search').attr('placeholder', '{% trans "Author Search" %}...');
    {% endif %}
});
{% endblock %}

{% block content %}

    <h3 class="detail_title">{% trans "Authors" %}</h3>

    {% if q != None %}
        <h4 class="list_header">{% trans "Search:" %}
            {% blocktrans with query=q %}"{{ query }}"{% endblocktrans %}
            ({{ paginator.count }}
            {% trans "results" %})</h4>
    {% endif %}

    {% if authors %}

        {% include "pagination.html" %}

        <table id="author_list" class="hover">
            <thead>
                <tr>
                    <th>{% trans "Author" %}</th>
                    <th>{% trans "Books" %}</th>
{#                    {% if allow_user_comments %}#}
{#                        <th class="list_number">❝</th>#}
{#                    {% endif %}#}
                </tr>
            </thead>
            <tbody>
            {% for author in authors %}
                    {% if author.books.count > 0 %}
                <tr>
                    <td class="author_list_author">
                        <a class="list_author"
                                href="{% url "author_detail" author.pk %}">{{ author.name }}</a>
                    </td>

                    {% for book in author.books.all|slice:":5" %}

                        {% if not forloop.first %}
                            </tr>
                            <tr>
                            <td class="blank">&nbsp;</td>
                        {% endif %}

                        <td class="author_cover">
                            <a href="{% url "book_detail" book.pk %}">
                                {% if book.cover_img %}
                                    <img class="author_cover" src=
                                    "{{ book.cover_img|thumbnail_url:'thumb'}}"
                                            alt="Cover"
                                            height="50px"/>
                                {% else %}
                                    <img class="author_cover" src="{% static "images/book-icon.png" %}"
                                            alt="Cover" height="50px"/>
                                {% endif %}
                            </a>
                        </td>

                        <td class="author_book">
                            <a class="book" href=
                            "{% url "book_detail" book.pk %}">
                            {{ book.title }}</a>
                                {% if book.publishers.all %}
                                | {% for publisher in book.publishers.all %}
                                <a class="list_publishers" href="{% url "by_title" %}?q={{ publisher.name|urlencode }}">{{ publisher.name }}</a>{% if not forloop.last %},{% endif %}{% endfor %}
                            {% if book.tags.count != 0 %}
                            <div class="list_tags">
                                {% for tag in book.tags.all %}
                                    <a class="list_tag"
                                       href="{% url "by_tag" tag.name %}">
                                        {{ tag.name }}</a>{% if not forloop.last %}, {% endif %}
                               {% endfor %}
                            </div>
                    {% endif %}

                            {% endif %}
                        </td>

{#                        {% if allow_user_comments %}#}
{#                            {% get_comment_count for book as comment_count %}#}
{#                            <td class="list_number">{{ comment_count }}</td>#}
{#                        {% endif %}#}

                        <td class="list_download_link">
                            <a class="download"
                              href="{% url "book_download" book.pk %}">⬇︎</a>
                        </td>

                        {% if not forloop.first %}
                            </tr>
                        {% endif %}

                    {% endfor %}

                    {% if author.books.count > 5 %}
                        <td colspan="2" class="blank">&nbsp;</td>
                        <td colspan="2">
                            <a class="list_author"
                            href="{% url "author_detail" author.pk %}">
                                {% trans "more"%} ...</a>
                        </td>
                    {% endif %}

                </tr>
            {% endif %}
            {% endfor %}
            </tbody>
        </table>

        {% include "pagination.html" %}

    {% else %}
    {% endif %}


{% endblock %}
