{% extends "base.html" %}
{% load i18n %}
{% load static from staticfiles %}
{% load comments %}
{% load thumbnail %}

{% block head %}
    <link rel="stylesheet"
          href="https://cdn.datatables.net/1.10.10/css/jquery.dataTables.min.css"
          type="text/css"/>
    <script type="text/javascript"
            src="https://cdn.datatables.net/1.10.10/js/jquery.dataTables.min.js"></script>

    <link rel="stylesheet"
          href="https://cdn.datatables.net/select/1.1.0/css/select.dataTables.min.css"
          type="text/css"/>
    <script type="text/javascript"
            src="https://cdn.datatables.net/select/1.1.0/js/dataTables.select.min.js"></script>

    <link rel="stylesheet" href="{% static "style/book_list.css" %}"
            type="text/css">
    <script type="text/javascript"
            src="{% static "js/book_list.js" %}"></script>
{% endblock %}

{% block title %}{{ author.name }} :: Pathagar{% endblock %}

{% block script %}
    {{ block.super }}
    $('#search').example('Book Search...');
{% endblock %}

{% block content %}

    <h3>{{ author.name }}

        {% if user.is_superuser %}
            <small>
                <a href="{% url "author_edit" author.pk %}">
                    <span class="glyphicon glyphicon-edit"
                    aria-hidden="true"/>
                </a>
            </small>
        {% endif %}
    </h3>

    {% if author.description %}
        <div class="row col-xs-offset-1">
            <h4 class="text-muted">{% trans "Biography:" %}</h4>
            <div class="col-sm-9">{{ author.description }}</div>
        </div>
    {% endif %}

    {% if author.website %}
        <div class="row col-xs-offset-1">
            <h4 class="text-muted">{% trans "Link:" %}</h4>
            <div class="col-sm-6">
                <a target="_blank" href="{{ author.website }}">
                    {{ author.website }}
                </a>
            </div>
        </div>
    {% endif %}

    {% include "pagination.html" %}

    <table id="book_list" class="hover">
    <thead>
    <tr>
        <th></th>
        {% if q != None %}
            <th><a data-name="by-title"
                   href="{% url "by_title" %}?q={{ q|urlencode }}">{% trans "Title" %}</a> / <a data-name="by-author"
                   href="{% url "by_author" %}?q={{ q|urlencode }}">{% trans "Author" %}</a>
            </th>
            <th><a data-name="latest"
                   href="{% url "latest" %}?q={{ q|urlencode }}">{% trans "Added" %}</a>
            </th>
            {% if allow_user_comments %}
                <th class="list_number">❝</th>
            {% endif %}
            <th class="list_number"><a data-name="by-author"
                                          href="{% url "most_downloaded" %}?q={{ q|urlencode }}">⬇</a>
            </th>
        {% else %}
            <th><a data-name="by-title" href="{% url "by_title" %}">
                {% trans "Title" %}</a> / <a data-name="by-author"
                    href="{% url "by_author" %}">
                {% trans "Author" %}</a></th>
            <th class="th_date_added"><a data-name="latest" href=
                    "{% url "latest" %}">
                {% trans "Added" %}</a></th>
            {% if allow_user_comments %}
                <th class="list_number">❝</th>
            {% endif %}
            <th class="list_number"><a data-name="by-author"
                                          href="{% url "most_downloaded" %}">⬇</a>
            </th>
        {% endif %}
        <th></th>
    </tr>
    </thead>
    <tbody>
        {% for book in book_list %}
            <tr>
                <td class="list_cover">
                    <a href="{% url "book_detail" book.pk %}">
                        {% if book.cover_img %}
                            <img class="list_cover" src=
                                    "{{ book.cover_img|thumbnail_url:'thumb' }}" alt="Cover"
                                 height="80px"/>
                        {% else %}
                            <img src="{% static "images/book-icon.png" %}"
                                 alt="Cover" height="80px"/>
                        {% endif %}
                    </a>
                </td>
                <td class="list_title">
                    <a class="list_title" href="{% url "book_detail" book.pk %}"
                    >{{ book.title }}</a>

                    <div class="list_authors">
                    <span class="list_authors">
                    {% for author in book.authors.all %}{% if forloop.first %}{% else %}{% if forloop.last %} {% trans "and" %}{% else %},{% endif %}
                    {% endif %}
                    <a href="{% url "author_detail" author.pk %}">{{ author.name }}</a>{% endfor %}
                    </span>

                    {% if book.publishers.all %}
                    | {% for publisher in book.publishers.all %}
                    <a href="{% url "by_title" %}?q={{ publisher.name|urlencode }}">{{ publisher.name }}</a>{% if not forloop.last %},{% endif %}{% endfor %}
                    {% endif %}

{#                    {%  if book.dc_issued %}#}
{#                    - {{ book.dc_issued|date:"Y" }}#}
{#                    {% endif %}#}
                    </div>

                    {% if book.tags.count != 0 %}
                        <div class="list_tags">
                            {% for tag in book.tags.all %}
                                    <a class="list_tag"
                                       href="{% url "by_tag" tag.name %}">
                                        {{ tag.name }}</a>{% if not forloop.last %}, {% endif %}
                            {% endfor %}
                        </div>
                    {% endif %}
                </td>

                <td class="list_date">
                    {% blocktrans with time_added=book.time_added|timesince %}{{ time_added }} ago{% endblocktrans %}</td>
                <!-- date:'Y-m-d H:i' -->
                {% if allow_user_comments %}
                    {% get_comment_count for book as comment_count %}
                    <td class="list_number">{{ comment_count }}</td>
                {% endif %}
                <td class="list_number">{{ book.downloads }}</td>
                <td class="list_download_link"><a class="download"
                                                  href="{% url "book_download" book.pk %}">⬇︎</a>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    {% include "pagination.html" %}

{% endblock %}
