{% extends "base.html" %}
{% load i18n %}

{% load tagging_tags %}

{% block head %}
    <link rel="stylesheet" href="https://cdn.datatables.net/1.10.10/css/jquery.dataTables.min.css" type="text/css"/>
    <script type="text/javascript" src="https://cdn.datatables.net/1.10.10/js/jquery.dataTables.min.js"></script>

    <link rel="stylesheet" href="https://cdn.datatables.net/select/1.1.0/css/select.dataTables.min.css"
          type="text/css"/>
    <script type="text/javascript" src="https://cdn.datatables.net/select/1.1.0/js/dataTables.select.min.js"></script>

    <script type="text/javascript" src="{{ STATIC_URL }}js/book_list.js"></script>
{% endblock %}

{% block title %} {% trans "Welcome to the Pathagar book server" %}
{% endblock %}

{% block script %}
    {{ block.super }}
    {% if q != None %}
        $('#search').val('{{ q }}');
    {% else %}
        $('#search').example('{% trans "Book Search" %}...');
    {% endif %}
{% endblock %}

{% block feed_link %}
    <a class="feed-link"
            {% if list_by == 'latest' %}
       href="{% url latest_feed %}{{ qstring }}"
            {% endif %}
            {% if list_by == 'by-title' %}
       href="{% url by_title_feed %}{{ qstring }}"
            {% endif %}
            {% if list_by == 'by-author' %}
       href="{% url by_author_feed %}{{ qstring }}"
            {% endif %}
            {% if list_by == 'by-tag' %}
                {% if tag %}
       href="{% url by_tag_feed tag.name %}{{ qstring }}"
                {% else %}
       href="#"
                {% endif %}
            {% endif %}
            {% if list_by == 'most-downloaded' %}
       href="{% url most_downloaded_feed %}{{ qstring }}"
            {% endif %}
    ><img src="{{ STATIC_URL }}images/feed.png" alt="Feed Icon"/><!--Subscribe to Feed--></a>
{% endblock %}

{% block content %}

    {% if q != None %}
        <h4 class="search_query">{% trans "Search:" %} "{{ q }}"
            ({{ q_count }}
            {% trans "results" %})</h4>
    {% endif %}

    <div class="prepend-12 pagination">
    <span class="step-links">
        {% if page_obj.has_previous %}
            <a href="?page={{ page_obj.previous_page_number }}{% if q %}&q={{ q }} {% endif %}">{% trans "Previous" %}</a>
        {% endif %}

        <span class="current-page" style="font-size:100%;font-weight:normal;top:0">
            &nbsp;{{ page_obj.number }} {% trans "of" %}
            {{ paginator.num_pages }}&nbsp;
        </span>

        {% if page_obj.has_next %}
            <a href="?page={{ page_obj.next_page_number }}{% if q %}&q={{ q }} {% endif %}">{% trans "Next" %}</a>
        {% endif %}
    </span>
    </div>

    <table id="book_list" class="hover">
        <thead>
        <tr>
            <th/>
            {% if q != None %}
                <th><a data-name="by-title" href="{% url by_title %}?q={{ q|urlencode }}">{% trans "Title" %}</a></th>
                <th><a data-name="by-author" href="{% url by_author %}?q={{ q|urlencode }}">{% trans "Author" %}</a></th>
                <th><a data-name="latest" href="{% url latest %}?q={{ q|urlencode }}">{% trans "Added" %}</a></th>
                <th class="list_downloads"><a data-name="by-author" href="{% url most_downloaded %}?q={{ q|urlencode }}">⬇</a></th>
            {% else %}
                <th><a data-name="by-title" href="{% url by_title %}">
                    {% trans "Title" %}</a></th>
                <th> <a data-name="by-author" href="{% url by_author %}">
                    {% trans "Author" %}</a></th>
                <th class="th_date_added"><a data-name="latest" href=
                        "{% url latest %}">
                {% trans "Added" %}</a></th>
                <th class="list_downloads"><a data-name="by-author" href="{% url most_downloaded %}">⬇</a></th>
            {% endif %}
            <th/>
        </tr>
        </thead>
        <tbody>
        {% for book in book_list %}
            <tr>
                <td>
                    <a href="{% url pathagar.books.views.book_detail book.pk %}">
                        {% if book.cover_img %}
                            <img src="{{ book.cover_img.url }}" alt="Cover" width="24px"/>
                        {% else %}
                            <img src="{{ STATIC_URL }}images/generic_cover.png" alt="Cover" height="24px"/>
                        {% endif %}
                    </a>
                </td>
                <td class="list_title">
                    <a href="{% url pathagar.books.views.book_detail book.pk %}">{{ book.a_title }}</a>
                    {% if book.tags.count != 0 %}
                        <div class="list_tags">
                            {% for tag in book.tags.all %}
                                <a class="list_tag" href="{% url by_tag tag.name %}">{{ tag.name }}</a>
                            {% endfor %}
                        </div>
                    {% endif %}
                </td>
                <td class="list_author"><a
                        href="{% url by_title %}?q={{ book.a_author|urlencode }}">{{ book.a_author }}</a>
                </td>
                <td class="list_date">
                    {% blocktrans with book.time_added|timesince as time_added %} {{ time_added }} ago{% endblocktrans %}</td> <!-- date:'Y-m-d H:i' -->
                <td class="list_downloads"><a
                        href="{% url most_downloaded %}?q={{ book.downloads }}">{{ book.downloads }}</a></td>
                <td class="list_download_link"><a class="download" href="{% url pathagar.books.views.download_book book.pk %}">⬇︎</a></td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    {#<li>Showing matches <em>{{ page_obj.start_index }}</em> to <em>{{ page_obj.end_index }}</em></li>#}

    <div class="prepend-12 pagination">
    <span class="step-links">
        {% if page_obj.has_previous %}
            <a href="?page={{ page_obj.previous_page_number }}{% if q %}&q={{ q }} {% endif %}">{% trans "Previous" %}</a>
        {% endif %}

        <span class="current-page" style="font-size:100%;font-weight:normal;top:0">
            &nbsp;{{ page_obj.number }} {% trans "of" %}
            {{ paginator.num_pages }}&nbsp;
        </span>

        {% if page_obj.has_next %}
            <a href="?page={{ page_obj.next_page_number }}{% if q %}&q={{ q }} {% endif %}">{% trans "Next" %}</a>
        {% endif %}
    </span>
    </div>
    {#    </div>#}

    {#    <div class="span-6 last" id="sidebar2">#}
    <hr class="space">
    <div class="linkbox2">
        <h3 class="caps">Statistics</h3>
        <div class="box">
            <ul class="stats">
                <li>Published eBooks: <em>{{ published_books }}</em></li>
                {% if user.is_authenticated %}
                    <li>Unpublished eBooks: <em>
                        {{ unpublished_books }}</em></li>
                {% endif %}
            </ul>
{#            <hr>#}
{#            {% if tag %}#}
{#                <ul class="stats">#}
{#                    <li>Showing books with tag <em>{{ tag.name }}</em></li>#}
{#                </ul>#}
{#            {% endif %}#}
{#            {% ifnotequal book_list.count total_books %}#}
{#                <ul class="stats">#}
{#                    <li>Number of ebooks in search result: <em>{{ book_list.count }}</em></li>#}
{#                    <li>Showing matches <em>{{ page_obj.start_index }}</em> to <em>{{ page_obj.end_index }}</em></li>#}
{#                </ul>#}
{#            {% else %}#}
{#                <ul class="stats">#}
{#                    <li>Showing entire collection.</li>#}
{#                </ul>#}
{#            {% endifnotequal %}#}
        </div>
    </div>
    {#    </div>#}

{% endblock %}
