{% extends "base.html" %}
{% load i18n %}
{% load static from staticfiles %}

{% block title %}Are you sure?{% endblock %}

{% block script %}
    $(document).ready(function()
    {
    $(".hidden_body").hide();
    $(".hidden_head").click(function()
    {
    $(this).next(".hidden_body").slideToggle(100);
    });
    $('#id_dc_identifier').example('ISBN');
    });
{% endblock %}

{% block head %}
    <script type="text/javascript" src="{% static "js/RelatedObjectLookups.js" %}"></script>{% endblock %}

{% block content %}
    <form enctype="multipart/form-data" action="{% url "book_delete" book.pk %}"
          method="POST">{% csrf_token %}
            <legend>
                {% blocktrans with book.a_title as book_title %} Are you sure you want to remove
                {{ book_title }}? {% endblocktrans %}</legend>
                <br/>
                <a href="{% url "home" %}">
                    {% trans "Cancel"  %}</a>
                <input type="submit" value="Remove">
    </form>
{% endblock %}
