{% extends "base.html" %}
{% load i18n %}
{% load static from staticfiles %}
{% load comments %}
{% load thumbnail %}
{% load pathagar_common %}

{#https://stackoverflow.com/questions/8174122/django-sorl-thumbnail-and-easy-thumbnail-in-same-project#}

{% block title %}{% trans "Books" %}{% if q %} - {% trans "search" %} "{{ q|striptags }}"{% endif %}{% endblock %}

{% block extra_css %}
    <link rel="stylesheet"
          href="https://cdn.datatables.net/1.10.10/css/jquery.dataTables.min.css"
          type="text/css"/>
    <link rel="stylesheet"
          href="https://cdn.datatables.net/select/1.1.0/css/select.dataTables.min.css"
          type="text/css"/>
    <link rel="stylesheet" href="{% static "style/book_list.css" %}"
          type="text/css">
{% endblock %}

{% block extra_js %}
    <script type="text/javascript"
            src="https://cdn.datatables.net/1.10.10/js/jquery.dataTables.min.js"></script>
    <script type="text/javascript"
            src="https://cdn.datatables.net/select/1.1.0/js/dataTables.select.min.js"></script>
    <script type="text/javascript"
            src="{% static "js/book_list.js" %}"></script>
{% endblock %}

{% block script %}
{{ block.super }}
$(document).ready(function(){
    {% if q != None %}
        $('#search').val('{{ q }}');
    {% else %}
        $('#search').attr('placeholder', '{% trans "Book Search" %}...');
    {% endif %}
});
{% endblock %}

{% block content %}
    <h3>{% trans "Books" %} <small><a href="{% rss_url list_by tag q %}"><i class="fa fa-rss-square"></i></a></small></h3>

    {% if q != None %}
        <h3>{% trans "Search:" %}
            {% blocktrans with query=q %}"{{ query }}"{% endblocktrans %}
            ({{ paginator.count }}
            {% trans "results" %})</h3>
{#        {% else %}#}
{#        <h1>{% trans "Books" %}</h1>#}
        {% else %}
        <div style="padding-top:1em"></div>
    {% endif %}

    {% url 'by_tag' tag as view_tag %}
    {% if request.get_full_path == view_tag %}
        <h3 class="list_header">{% trans "Tag:" %} {{ tag }}</h3>
    {% endif %}

    {% include "pagination.html" %}

    <table id="book_list" class="hover">
        <thead>
        <tr>
            <th></th>

            <th><a data-name="by-title" {% if list_by == "by-title" %}class="sort-selected" {% endif %}
                   href="{% url "by_title" %}{% if q %}?q={{ q|urlencode }}{% endif %}">{% trans "Title" %}</a>
                   /
                <a data-name="by-author" {% if list_by == "by-author" %}class="sort-selected" {% endif %}
                   href="{% url "by_author" %}{% if q %}?q={{ q|urlencode }}{% endif %}">{% trans "Author" %}</a>
            </th>

            <th><a data-name="latest" {% if list_by == "latest" %}class="sort-selected" {% endif %}
                   href="{% url "latest" %}{% if q %}?q={{ q|urlencode }}{% endif %}">{% trans "Added" %}</a>
            </th>

            {% if allow_user_comments %}
                <th class="list_number">❝</th>
            {% endif %}

            <th class="list_number"><a data-name="by-author" {% if list_by == "most-downloaded" %}class="sort-selected" {% endif %}
                                          href="{% url "most_downloaded" %}{% if q %}?q={{ q|urlencode }}{% endif %}">⬇</a>
            </th>
            <th>&nbsp;</th>
        </tr>
        </thead>
        <tbody>
        {% for book in book_list %}
            <tr>

                <td class="list_cover">
                    <a href="{% url "book_detail" book.pk %}">
                        {% if book.cover_img %}
                            <img class="list_cover" src=
                            "{{ book.cover_img|thumbnail_url:'thumb'}}"
                                    alt="Cover"
                                 height="80px"/>
                        {% else %}
                            <img src="{% static "images/book-icon.png" %}"
                                 alt="Cover" height="80px"/>
                        {% endif %}
                    </a>
                </td>

                <td class="list_title">
                    <a class="list_title" href="{% url "book_detail" book.pk %}"
                    >{{ book.title }}</a>

                    <div class="list_authors">
                    <span class="list_authors">
                    {% for author in book.authors.all %}{% if forloop.first %}{% else %}{% if forloop.last %} {% trans "and" %}{% else %},{% endif %}
                    {% endif %}
                    <a href="{% url "author_detail" author.pk %}">{{ author.name }}</a>{% endfor %}
                    </span>

                    {% if book.publishers.all %}
                    | {% for publisher in book.publishers.all %}
                    <a href="{% url "by_title" %}?q={{ publisher.name|urlencode }}">{{ publisher.name }}</a>{% if not forloop.last %},{% endif %}{% endfor %}
                    {% endif %}

{#                    {%  if book.dc_issued %}#}
{#                    - {{ book.dc_issued|date:"Y" }}#}
{#                    {% endif %}#}
                    </div>

                    {% if book.tags.count != 0 %}
                        <div class="list_tags">
                            {% for tag in book.tags.all %}
                                    <a class="list_tag"
                                       href="{% url "by_tag" tag.name %}">
                                        {{ tag.name }}</a>{% if not forloop.last %}, {% endif %}
                            {% endfor %}
                        </div>
                    {% endif %}
                </td>

                <td class="list_date">
                    {% blocktrans with time_added=book.time_added|timesince %}{{ time_added }} ago{% endblocktrans %}</td>
                <!-- date:'Y-m-d H:i' -->
                {% if allow_user_comments %}
                    {% get_comment_count for book as comment_count %}
                    <td class="list_number">{{ comment_count }}</td>
                {% endif %}

                <td class="list_number">{{ book.downloads }}</td>

                <td class="list_download_link"><a class="download"
                                                  href="{% url "book_download" book.pk %}">⬇︎</a>
                </td>

            </tr>
        {% endfor %}
        </tbody>
    </table>

    {% include "pagination.html" %}

{% endblock %}
