{% extends "base.html" %}
{% load i18n %}
{% load static from staticfiles %}
{% load comments %}
{% load bootstrap3 %}
{% load bbcode_tags %}
{% bbcode entry.bbcode_content %}

{% block title %}{{ book.title }} :: {{ request.site.name }}{% endblock %}

{% block script %}
    {{ block.super }}
    $('#search').example('Book Search...');
{% endblock %}

{% block content %}

        <div class="detail_sidebar">
            <img src="{% if book.cover_img %}{{ book.cover_img.url }}{% else %}{% static "images/book-icon.png" %}{% endif %}" alt="Cover"  class="cover_detail" />
            <div class="row">
                <div class="col-sm-5">
                    <a href="{% url "book_download" book.pk %}"><span class="glyphicon glyphicon-arrow-down" aria-hidden="true"/><!--{% trans "Download" %}--></a>
                   {% if user.is_superuser %}
                        <a href="{% url "book_edit" book.pk %}"><span class="glyphicon glyphicon-edit" aria-hidden="true"/></a>
                        <a href="{% url "book_delete" book.pk %}"><span class="glyphicon glyphicon-trash" aria-hidden="true"/></a>
                    {% endif %}
                </div>
            </div>

            <div class="row">
                <form enctype="multipart/form-data"
                    action="{% url "book_detail" book.pk %}" method="POST">
                    {% csrf_token %}
                    {{ form.media }}

                    <fieldset>
                        <div class="row">
                            <div class="col-sm-9">
                                {% bootstrap_field form.tags %}
                                {{ form.name.errors }}
                            </div>
                        </div>
                    </fieldset>

                    {% if form.non_field_errors %}
                        <div class="alert alert-error">
                            <strong>{{ form.non_field_errors }}</strong>
                        </div>
                    {% endif %}

                </form>
            </div>

        </div>

        <div class="details">
            <h2 class="detail_title">{{ book.title }}</h2>
            <h4 class="detail_author">
                {% for author in book.authors.all %}{% if forloop.first %}{% else %}{% if forloop.last %} {% trans "and" %}{% else %},{% endif %}
                {% endif %}
                <a href="{% url "author_detail" author.pk %}">{{ author.name }}</a>{% endfor %}
{#                {% if user.is_superuser %}#}
{#                    <a href="{% url "author_edit" author.pk %}"><span class="glyphicon glyphicon-edit" aria-hidden="true"/></a>#}
{#                {% endif %}#}
            </h4>

            <div class="detail_info">
                <div class="row">
                    <div class="col-sm-3">{% trans "Publisher:" %}</div>
                    <div class="col-sm-8">
                        {% for publisher in book.publishers.all %}
                            <a href="{% url "by_title" %}?q={{ publisher.name|urlencode }}">
                                {{ publisher.name }}</a>{% if not forloop.last %},{% endif %}
                            {% endfor %}
                    </div>
                </div>

                <div class="row">
                    <div class="col-sm-3">{% trans "Published:" %}</div>
                    <div class="col-sm-8">{{ book.dc_issued }}</div>
                </div>
                <div class="row">
                    <div class="col-sm-3">{% trans "Language:" %}</div>
                        {% ifnotequal book.dc_language None %}
                            <div class="col-sm-3">{{ book.dc_language }}</div>
                        {% endifnotequal %}
                    </div>
{#                <div class="row">#}
{#                    <div class="col-sm-3">Status:</div>#}
{#                    <div class="col-sm-6">{{ book.a_status }}</div>#}
{#                </div>#}

                <br/>
                {% if book.tags.count != 0 %}
                    <div class="row">
                        <div class="col-sm-3">{% trans "Tags:" %}</div>
                        <div class="col-sm-8">
                            {% for tag in book.tags.all %}
                                <a class="list_tag" href="{% url "by_tag" tag.name %}">
                                    {{ tag.name }}</a>{% if not forloop.last %},
                            {% endif %}
                            {% endfor %}
                        </div>
                    </div>
                {% endif %}

                <div class="row">
                    <div class="col-sm-3">{% trans "Added:" %}</div>
                    <div class="col-sm-8">
                        {% blocktrans with time_added=book.time_added|timesince %}{{ time_added }} ago {% endblocktrans %}
                    </div>
                </div>
{#                <br/>#}
{#                <div class="col-sm-3">{% trans "Size:" %}</div>#}
{#                <div class="col-sm-8">{{ book.book_file.size|filesizeformat }}</div>#}
                <div class="row">
                    <div class="col-sm-3">{% trans "Downloads:" %}</div>
                    <div class="col-sm-6">{{ book.downloads }}</div>
                </div>
                {% if user.is_superuser %}
{#                    <div class="col-sm-3"><a href="#more" class="" data-toggle="collapse">Toggle#}
{#                        Foo</a></div>#}
{#                    <div class="col-sm-8"></div>#}
{#                    <div id="more" class="collapse">#}
                    <div class="row">
                        <div class="col-sm-3">{% trans "Path:" %}</div>
                        <div class="col-sm-9">{{ book.original_path }}</div>
                    </div>
{#                    </div>#}
                {% endif %}
            </div>

            {% ifnotequal book.summary None %}
                <div class="row">
                    <div class="col-sm-11"><br/>{{ book.summary|safe }}</div>
                </div>
            {% endifnotequal %}
        </div> <!-- detail-info -->

    {% if allow_user_comments %}
        <div class="detail_comments">
            <h4><label>{% trans "Comments:" %}</label></h4>

            {% get_comment_list for book as comment_list %}
            {% for comment in comment_list %}
{#                <hr class="comment">#}
                <div class="comment_author">
                    {% blocktrans with user_name=comment.user_name comment_date=comment.submit_date|timesince %}{{ user_name }} | {{ comment_date }} ago{% endblocktrans %}</div>

                <div class="comment">{{ comment.comment }}</div>
                <br/>

{#                <div style="float:right">#}
{#                 <form action="." method="post">{% csrf_token %}#}
{#                    {% if next %}<input type="hidden" name="next" value="{{ next }}" id="next" />{% endif %}#}
{#                    <p class="submit">#}
{#                    <input type="submit" name="submit" value="{% trans "Remove" %}" />#}
{#                    </p>#}
{#                </form>#}
{#                </div>#}

            {% endfor %}

            {% get_comment_form for book as form %}
            <form action="{% comment_form_target %}" method="post">
                {% csrf_token %}

                {{ form.content_type }}
                {{ form.object_pk }}
                {{ form.timestamp }}
                {{ form.security_hash }}
                <input type="hidden" name="next"
                        value="{% url "book_detail" book.pk %}"/>
                {{ form.comment }}

                <input type="submit" name="submit" class="btn btn-sm btn-default" value="{% trans "Add comment" %}">
            </form>
        </div>
    {% endif %}

{% endblock %}
