{% extends "base.html" %}
{% load i18n %}
{% load static from staticfiles %}
{% load bootstrap3 %}

{% block title %}{% if action == 'add' %}
    Add Book
{% else %}
    {% trans "Editing" %} - {{ book.a_title }}
{% endif %}
{% endblock %}

{% block script %}
    $(document).ready(function()
    {
    $(".hidden_body").hide();
    $(".hidden_head").click(function()
    {
    $(this).next(".hidden_body").slideToggle(100);
    });
    $('#id_dc_identifier').example('ISBN');
    });
{% endblock %}

{% block head %}
    <script type="text/javascript" src="{% static "js/RelatedObjectLookups.js" %}"></script>{% endblock %}

{% block content %}
    {{ form.errors }}
    <form enctype="multipart/form-data"
            {% if action == 'add' %}
                action="{% url "book_add" %}"
            {% else %}
                action="{% url "book_edit" book.pk %}"
            {% endif %}
            method="POST">
        {% csrf_token %}
        {{ form.media }}

        <div class="detail_sidebar">
            {% if book.cover_img %}
                <img src="{{ book.cover_img.url }}" alt="Cover" width=180px/>
                {% bootstrap_field form.remove_cover_img %}
            {% else %}
                <img src="{% static "images/book-icon.png" %}" alt="Cover"
                        width=180px/>
                <br/><br/>
            {% endif %}
            {% bootstrap_field form.cover_img show_label=False %}
                        <input type="submit" class="btn btn-sm btn-primary"
                        {% if action == 'add' %}
                            value="Add">
                        {% else %}
                            value="{% trans "Edit" %}">
                        {% endif %}

        </div>

        <fieldset>
            <legend>
                {% if action == 'add' %}
                    Add Book
                {% else %}
                    Edit Book
                {% endif %}
            </legend>

            {% if form.non_field_errors %}
                <div class="alert alert-error">
                    <strong>{{ form.non_field_errors }}</strong>
                </div>
            {% endif %}

            <div class="row">
                <div class="col-sm-3 required">{% trans "Title:" %}</div>
                <div class="col-sm-8">
                    {% bootstrap_field form.a_title show_label=False %}
                    {{ form.a_title.errors }}
                </div>
            </div>

            <div class="row">
                <div class="col-sm-3">{% trans "Author(s):" %}</div>
                <div class="col-sm-8">
                    {% bootstrap_field form.authors show_label=False %}
{#                    set_required=False#}
                    {{ form.authors.errors }}
                </div>
            </div>

            <div class="row">
                <div class="col-sm-3">{% trans "Publisher(s):" %}</div>
                <div class="col-sm-8">
                    {% bootstrap_field form.publishers show_label=False %}
{#                    set_required=False#}
                </div>
            </div>

            <div class="row">
                <div class="col-sm-3">{% trans "Language:" %}</div>
                <div class="col-sm-5">
                    {% bootstrap_field form.dc_language show_label=False %}
                </div>
            </div>

            <div class="row">
                <div class="col-sm-3">{% trans "Issued" %}:</div>
                <div class="col-sm-3">
                    {% bootstrap_field form.dc_issued show_label=False %}
                </div>
            </div>

            <div class="row">
                <div class="col-sm-3 required">{% trans "Status:" %}</div>
                <div class="col-sm-3">
                    {% bootstrap_field form.a_status show_label=False %}
                    {{ form.a_status.errors }}
                </div>
            </div>

            <div class="row">
                <div class="col-sm-3">{% trans "Tags:" %}</div>
                <div class="col-sm-8">
                    {% bootstrap_field form.tags show_label=False %}
                </div>
            </div>

            {% if user.is_superuser %}
                <div class="row">
                    <div class="col-sm-3">{% trans "Downloads" %}:</div>
                    <div class="col-sm-2">
                        {% bootstrap_field form.downloads show_label=False %}
                    </div>
                </div>    {% endif %}

            <div class="row">
                <div class="col-sm-11">
                    {% bootstrap_field form.a_summary %}
                    </div>
            </div>

{#            <div class="col-sm-4 last">#}
{#                <input type="submit" class="btn btn-sm btn-default"#}
{#                        {% if action == 'add' %}#}
{#                            value="Add">#}
{#                        {% else %}#}
{#                            value="{% trans "Edit" %}">#}
{#                        {% endif %}#}
{#            </div>#}
        </fieldset>

    </form>

{% endblock %}

{% block footer %}

{% endblock %}
