{% extends "base.html" %}
{% load i18n %}
{% load static from staticfiles %}
{% load comments %}

{% block title %}{{ book.a_title }} :: Pathagar{% endblock %}

{% block script %}
    {{ block.super }}
    $('#search').example('Book Search...');
{% endblock %}

{% block content %}

    <div id="content">

        <div class="detail_sidebar">
            {% if  book.cover_img %}
                <img src="{{ book.cover_img.url }}" alt="Cover" width=200px/>
            {% else %}
                <img src="{% static "images/generic_cover.png" %}" alt="Cover"
                        width=200px/>
            {% endif %}
            <hr class="space">
            <a class="detail_download"
                    href="{% url "book_download" book.pk %}">{% trans "Download" %}</a>
            {% if user.is_authenticated %}
                <br/><br/>
                <div class="span-4">
                    <a class="button"
                            href="{% url "book_edit" book.pk %}">{% trans "Edit" %}</a>
                    <a class="button"
                            href="{% url "book_delete" book.pk %}">{% trans "Remove" %}</a>
                </div>
                {#                <div class="span-2"><label>Status:</label></div>#}
                {#                <div class="span-3">{{ book.a_status }}</div>#}
            {% endif %}
        </div>

        <div class="details">
            <h2 class="detail_title">{{ book.a_title }}</h2>
            <h4 class="detail_author"><a
                    href="{% url "by_title" %}?q={{ book.a_author }}">{{ book.a_author }}</a>
            </h4>

            {% if book.tags.count != 0 %}
                <div class="span-3"><label>Tags:</label></div>
                <div class="span-10">

                    {% for tag in book.tags.all %}
                        <a class="list_tag" href="{% url "by_tag" tag.name %}">
                            {{ tag.name }}</a>{% if not forloop.last %},
                    {% endif %}
                    {% endfor %}

                </div>
                <hr class="space">
            {% endif %}

            <div class="detail_info">
                <div class="span-4">{% trans "Publisher:" %}</div>
                <div class="span-6">{{ book.dc_publisher }}</div>
                <br/>
                <div class="span-4">{% trans "Published:" %}</div>
                <div class="span-6">{{ book.dc_issued }}</div>
                <br/>
                <div class="span-4">{% trans "Language:" %}</div>
                {% ifnotequal book.dc_language None %}
                    <div class="span-4">{{ book.dc_language }}</div>
                {% else %}
                    <div class="span-6">{% trans "Unknown" %}</div>
                {% endifnotequal %}
                <br/><br/>
                <div class="span-4">{% trans "Added:" %}</div>
                <div class="span-6">
                    {% blocktrans with time_added=book.time_added|timesince %}{{ time_added }} ago {% endblocktrans %}</div>
                <br/>
                <div class="span-4">{% trans "Size:" %}</div>
                <div class="span-6">{{ book.book_file.size|filesizeformat }}</div>
                <br/>
                <div class="span-4">{% trans "Downloads:" %}</div>
                <div class="span-6">{{ book.downloads }}</div>
                {% if user.is_superuser %}
                    <br/>
                    <div class="span-4">{% trans "Path:" %}</div>
                    <div class="detail_path">{{ book.original_path }}</div>
                {% endif %}
            </div>

            {% ifnotequal book.a_summary None %}
                <div class="detail_desc">{{ book.a_summary|safe }}</div>
            {% endifnotequal %}
        </div> <!-- detail-info -->
    </div>

    {% if allow_user_comments %}
        <div class="detail_comments">
            <h4><label>{% trans "Comments:" %}</label></h4>

            {% get_comment_list for book as comment_list %}
            {% for comment in comment_list %}
{#                <hr class="comment">#}
                <div class="comment_author">
                    {% blocktrans with user_name=comment.user_name comment_date=comment.submit_date|timesince %}{{ user_name }} | {{ comment_date }} ago{% endblocktrans %}</div>
                <div class="comment">{{ comment.comment }}</div>
                <br/>

{#                <div style="float:right">#}
{#                 <form action="." method="post">{% csrf_token %}#}
{#                    {% if next %}<input type="hidden" name="next" value="{{ next }}" id="next" />{% endif %}#}
{#                    <p class="submit">#}
{#                    <input type="submit" name="submit" value="{% trans "Remove" %}" />#}
{#                    </p>#}
{#                </form>#}
{#                </div>#}

            {% endfor %}

            {% get_comment_form for book as form %}
            <form action="{% comment_form_target %}" method="post">
                {% csrf_token %}

                {{ form.content_type }}
                {{ form.object_pk }}
                {{ form.timestamp }}
                {{ form.security_hash }}
                <input type="hidden" name="next"
                        value="{% url "book_detail" book.pk %}"/>

                {#<div class="span-4"><label for="id_your_name">Your name:</label></div>#}
                {#{{ form.name }}#}
                {#<hr class="space">#}

                {#                <div class="span-4" style="padding-left:2em"><label for="id_comment">Comment:</label></div>#}
                {{ form.comment }}

                <input type="hidden" name="email"
                        value="fake_emai@kfake.org"/>
                <input type="hidden" name="url"
                        value="http://faksite.org"/>

                <input type="submit" name="submit" value="{% trans "Add comment" %}">
            </form>
        </div>
    {% endif %}

{% endblock %}

