{% extends "base.html" %}
{% load i18n %}
{% load static from staticfiles %}

{% block title %}{% if action == 'add' %}
    Add Book
{% else %}
    Edit Book
{% endif %}
{% endblock %}

{% block script %}
    $(document).ready(function()
    {
    $(".hidden_body").hide();
    $(".hidden_head").click(function()
    {
    $(this).next(".hidden_body").slideToggle(100);
    });
    $('#id_dc_identifier').example('ISBN');
    });
{% endblock %}

{% block head %}
    <script type="text/javascript" src="{% static "js/RelatedObjectLookups.js" %}"></script>{% endblock %}

{% block content %}
    <form enctype="multipart/form-data"
            {% if action == 'add' %}
          action="{% url "book_add" %}"
            {% else %}
          action="{% url "book_edit" book.pk %}"
            {% endif %}
          method="POST">{% csrf_token %}
        <fieldset>
            <legend>
                {% if action == 'add' %}
                    Add Book
                {% else %}
                    Edit Book
                {% endif %}
            </legend>

            {% if form.non_field_errors %}
                <div class="alert alert-error">
                    <strong>{{ form.non_field_errors }}</strong>
                </div>
            {% endif %}

            {#<div class="span-3 required"><label for="id_original_path">File:</label></div>#}
            {#<div class="span-4">{{ form.original_path }}</div>#}
            {{ form.original_path.errors }}
            <hr class="space">
            <div class="span-3 required"><label for="id_a_title">{% trans "Title" %}:</label></div>
            <div class="span-4">{{ form.a_title }}</div>
            {{ form.a_title.errors }}
            <hr class="space">
            <div class="span-3 required"><label for="id_a_author">{% trans "Author" %}:</label></div>
            <div class="span-4">{{ form.a_author }}</div>
            {{ form.a_author.errors }}
            <hr class="space">
            <div class="span-3 required"><label for="id_a_status">{% trans "Status" %}:</label></div>
            <div class="span-4">{{ form.a_status }}</div>
            {{ form.a_status.errors }}
            <hr class="space">
            <div class="span-3"><label for="id_tags">
                {% trans "Tags" %}:</label></div>
            <div class="span-4 last">{{ form.tags }}</div>
            <hr class="space">
            <div class="span-3"><label for="id_a_summary">
                {% trans "Summary" %}:</label></div>
            <div class="span-8">{{ form.a_summary }}</textarea></div>
            <hr class="space">
            <div class="span-3"><label for="id_dc_language">
                {% trans "Language" %}:</label></div>
            <div class="span-4">
                {{ form.dc_language }}
            </div>
            <hr class="space">

            <div>
                <p class="hidden_head">{% trans "Optional information" %} <a href="#">({% trans "click to expand" %})</a></p>
                <div class="hidden_body">
                    <div class="span-3"><label for="id_a_category">{% trans "Category" %}:</label></div>
                    <div class="span-4">{{ form.a_category }}</div>
                    <hr class="space">
                    <div class="span-3"><label for="id_a_rights">{% trans "Rights" %}:</label></div>
                    <div class="span-4">{{ form.a_rights }}</div>
                    <hr class="space">
                    <div class="span-3"><label for="id_dc_publisher">{% trans "Publisher" %}:</label></div>
                    <div class="span-4">{{ form.dc_publisher }}</div>
                    <hr class="space">
                    <div class="span-3"><label for="id_dc_issued">{% trans "Issued" %}: </label></div>
                    <div class="span-4">{{ form.dc_issued }}</div>
                    <hr class="space">
                    <div class="span-3"><label for="id_dc_identifier">{% trans "Identifier" %}: </label></div>
                    <div class="span-4">{{ form.dc_identifier }}</div>
                    <hr class="space">
                    <div class="span-3"><label for="id_downloads">{% trans "Downloads" %}:</label></div>
                    <div class="span-4 last">{{ form.downloads }}</div>
                    <hr class="space">
                    <div class="span-3"><label for="id_dc_identifier">{% trans "Cover image" %}: </label></div>
                    <div class="span-4">{{ form.cover_img }}</div>
                    <hr class="space">
                </div>
            </div>

            <div class="span-4 prepend-21 last">
                <input type="submit"
                        {% if action = 'add' %}
                       value="Add">
                        {% else %}
                            value="Edit">
                        {% endif %}
            </div>
        </fieldset>
    </form>
{% endblock %}
