{% extends "base.html" %}
{% load i18n %}
{% load static from staticfiles %}
{% load comments %}

{% block title %}{{ book.a_title }} :: Pathagar{% endblock %}

{% block script %}
    {{ block.super }}
    $('#search').example('Book Search...');
{% endblock %}

{% block content %}

        <div class="detail_sidebar">
            {% if  book.cover_img %}
                <img src="{{ book.cover_img.url }}" alt="Cover" width=180px/>
            {% else %}
                <img src="{% static "images/generic_cover.png" %}" alt="Cover"
                        width=180px/>
            {% endif %}
            <br/><br/>
                <div class="col-sm-5">
                    <a href="{% url "book_download" book.pk %}"><span class="glyphicon glyphicon-arrow-down" aria-hidden="true"/><!--{% trans "Download" %}--></a>
            {% if user.is_superuser %}
                    <a href="{% url "book_edit" book.pk %}"><span class="glyphicon glyphicon-edit" aria-hidden="true"/></a>
                    <a href="{% url "book_delete" book.pk %}"><span class="glyphicon glyphicon-trash" aria-hidden="true"/></a>
                </div>
                {#                <div class="col-sm-2"><label>Status:</label></div>#}
                {#                <div class="col-sm-3">{{ book.a_status }}</div>#}
            {% endif %}
        </div>

        <div class="details">
            <h2 class="detail_title">{{ book.a_title }}</h2>
            <h4 class="detail_author">
                {% for author in book.authors.all %}
                    <a href="{% url "by_title" %}?q={{ author.name|urlencode }}">{{ author.name }}</a>
                    {% if not forloop.last %}, {% endif %}
                {% endfor %}
            </h4>

            <div class="detail_info">
                <div class="col-sm-3">{% trans "Publisher:" %}</div>
                <div class="col-sm-8"><a href="{% url "by_title" %}?q={{ book.dc_publisher }}">{{ book.dc_publisher }}</a></div>
                <br/>
                {% if book.tags.count != 0 %}
                    <div class="col-sm-3">{% trans "Tags:" %}</div>
                    <div class="col-sm-10">

                        {% for tag in book.tags.all %}
                            <a class="list_tag" href="{% url "by_tag" tag.name %}">
                                {{ tag.name }}</a>{% if not forloop.last %},
                        {% endif %}
                        {% endfor %}

                    </div>
                <br/>
                {% endif %}
                <div class="col-sm-3">{% trans "Published:" %}</div>
                <div class="col-sm-8">{{ book.dc_issued }}</div>
                <br/>
                <div class="col-sm-3">{% trans "Language:" %}</div>
                {% ifnotequal book.dc_language None %}
                    <div class="col-sm-3">{{ book.dc_language }}</div>
                {% else %}
                    <div class="col-sm-8">{% trans "Unknown" %}</div>
                {% endifnotequal %}
                <br/><br/>
                <div class="col-sm-3">{% trans "Added:" %}</div>
                <div class="col-sm-8">
                    {% blocktrans with time_added=book.time_added|timesince %}{{ time_added }} ago {% endblocktrans %}</div>
{#                <br/>#}
{#                <div class="col-sm-3">{% trans "Size:" %}</div>#}
{#                <div class="col-sm-8">{{ book.book_file.size|filesizeformat }}</div>#}
                <br/>
                <div class="col-sm-3">{% trans "Downloads:" %}</div>
                <div class="col-sm-8">{{ book.downloads }}</div>
                {% if user.is_superuser %}
                    <br/>
                    <div class="col-sm-3">{% trans "Path:" %}</div>
                    <div class="col-sm-9">{{ book.original_path }}</div>
                {% endif %}
            </div>

            {% ifnotequal book.a_summary None %}
                <div class="col-sm-12"><br/>{{ book.a_summary|safe }}</div>
            {% endifnotequal %}
        </div> <!-- detail-info -->

    {% if allow_user_comments %}
        <div class="detail_comments">
            <h4><label>{% trans "Comments:" %}</label></h4>

            {% get_comment_list for book as comment_list %}
            {% for comment in comment_list %}
{#                <hr class="comment">#}
                <div class="comment_author">
                    {% blocktrans with user_name=comment.user_name comment_date=comment.submit_date|timesince %}{{ user_name }} | {{ comment_date }} ago{% endblocktrans %}</div>
                <div class="comment">{{ comment.comment }}</div>
                <br/>

{#                <div style="float:right">#}
{#                 <form action="." method="post">{% csrf_token %}#}
{#                    {% if next %}<input type="hidden" name="next" value="{{ next }}" id="next" />{% endif %}#}
{#                    <p class="submit">#}
{#                    <input type="submit" name="submit" value="{% trans "Remove" %}" />#}
{#                    </p>#}
{#                </form>#}
{#                </div>#}

            {% endfor %}

            {% get_comment_form for book as form %}
            <form action="{% comment_form_target %}" method="post">
                {% csrf_token %}

                {{ form.content_type }}
                {{ form.object_pk }}
                {{ form.timestamp }}
                {{ form.security_hash }}
                <input type="hidden" name="next"
                        value="{% url "book_detail" book.pk %}"/>

                {#<div class="col-sm-3"><label for="id_your_name">Your name:</label></div>#}
                {#{{ form.name }}#}
                {#<hr class="space">#}

                {#                <div class="col-sm-3" style="padding-left:2em"><label for="id_comment">Comment:</label></div>#}
                {{ form.comment }}

{#                <input type="hidden" name="email"#}
{#                        value="fake_emai@kfake.org"/>#}
{#                <input type="hidden" name="url"#}
{#                        value="http://faksite.org"/>#}

                <input type="submit" name="submit" class="btn btn-sm btn-default" value="{% trans "Add comment" %}">
            </form>
        </div>
    {% endif %}

{% endblock %}
