{% extends "base.html" %}

{% block title %}{{ book.a_title }} :: Pathagar Book Server{% endblock %}

{% block script %}
    {{ block.super }}
    $('#search').example('Book Search...');
{% endblock %}

{% block content %}

    <h4 class="list_header">Tags {% if tag_group %}
        by {{ tag_group }}{% endif %}</h4>

        {% if tag_list %}
            <table id="book_list" class="hover">
                <thead>
                <tr>
                    <th>Name</th>
                    <th>Books</th>
                </tr>
                </thead>
                <tbody>
                {% for tag in tag_list %}
                    <tr>
                        <td><a href="{% url "by_tag" tag.name %}">{{ tag.name }}</a></td>
                    <td>{{ tag.count }}</td>
                    </tr>
                {% endfor %}

                </tbody>
            </table>
        {% endif %}

        {% if tag_group_list %}
            <div class="span-2"><label>Tag groups:</label></div>
            <div class="span-10">
                {% for tag_group in tag_group_list %}
                    <a class="button" href="{% url "tag_groups" tag_group.slug %}">{{ tag_group.name }}</a>
                {% endfor %}
            </div>
            <hr class="space">
        {% endif %}


{% endblock %}

