{% extends "base.html" %}
{% load i18n %}
{% load static from staticfiles %}

{% block title %}{% trans "Tags" %}{% endblock %}

{% block extra_css %}
    <link rel="stylesheet"
          href="https://cdn.datatables.net/1.10.10/css/jquery.dataTables.min.css"
          type="text/css"/>
    <link rel="stylesheet"
          href="https://cdn.datatables.net/select/1.1.0/css/select.dataTables.min.css"
          type="text/css"/>
    <link rel="stylesheet" href="{% static "style/book_list.css" %}"
          type="text/css">
{% endblock %}

{% block extra_js %}
    <script type="text/javascript"
            src="https://cdn.datatables.net/1.10.10/js/jquery.dataTables.min.js"></script>
    <script type="text/javascript"
            src="https://cdn.datatables.net/select/1.1.0/js/dataTables.select.min.js"></script>
    <script type="text/javascript"
            src="{% static "js/book_list.js" %}"></script>
{% endblock %}

{% block script %}
    {{ block.super }}
    $('#search').example('Book Search...');
{% endblock %}

{% block content %}
    <h4 class="list_header">{% trans "Tags" %}</h4>

        <!-- TODO fix alignment to better match book_list -->
    <br/>

    {% if tag_list %}
        <table id="book_list" class="hover">
            <thead>
            <tr>
                <th>{% trans "Name" %}</th>
                <th>{% trans "Books" %}</th>
            </tr>
            </thead>
            <tbody>
            {% for tag in tag_list %}
                <tr>
                    <td>
                        <a href="{% url "by_tag" tag.name %}">{{ tag.name }}</a>
                    </td>
                    <td><a href="{% url "by_tag" tag.name %}">{{ tag.count }}</a></td>
                </tr>
            {% endfor %}

            </tbody>
        </table>
    {% endif %}
{% endblock %}
