{% comment %}
Snippet that renders the fields of a form used for editing a Book's metadata.

:param form: ModelForm for a Book
:param book: Book instance (optional)
:param legend: string with the fieldset legend
:param buttons: boolean for showing buttons
{% endcomment %}

{% load i18n %}
{% load static from staticfiles %}
{% load bootstrap3 %}
{% load book_edit %}

{% csrf_token %}
<div class="row">
    <fieldset>
        <legend>{% trans legend %}</legend>

        {% if form.cover_img %}
        <div class="col-md-2">
            <div class="col-md-12">
            {% if form.cover_img %}
                {# TODO: use CSS for the img #}
                <img src="{% if book.cover_img %}{{ book.cover_img.url }}{% else %}{% static "images/book-icon.png" %}{% endif %}"
                     alt="Cover" width="180px"/>

                {# TODO: prettify control #}
                {% bootstrap_field form.cover_img show_label=False %}
            {% endif %}
            </div>
        </div>

        <div class="col-md-10">
        {% else %}
        <div class="col-md-12">
        {% endif %}
            {% for field in form %}
                {% if field.name != "cover_img" %}
                    <div class="row">
                        {% bootstrap_field field layout="horizontal" horizontal_label_class="col-md-2" horizontal_field_class=field.name|field_width %}
                    </div>
                {% endif %}
            {% endfor %}
        </div>

    <fieldset>
</div>

{% if buttons %}
    <div class="row text-center">
        {% buttons %}
           {% bootstrap_button _("Cancel") href=book.get_absolute_url button_class="btn-default" %}
           {% bootstrap_button _("Save") button_type="submit" button_class="btn-success" %}
        {% endbuttons %}
    </div>
{% endif %}
