{% extends "base.html" %}
{% load i18n %}

{% block extra_head %}
    {{ wizard.form.media }}
    {{ form.media }}
{% endblock %}

{% block content %}
    <p>Step {{ wizard.steps.step1 }} of {{ wizard.steps.count }}</p>
    <form action="" method="post" enctype=multipart/form-data>
        {% csrf_token %}
        <table>
            {{ wizard.management_form }}

            {% if wizard.steps.step0 == 1 %}
                {% include "books/snippets/book_edit_form.html" with form=wizard.form book=book legend="Add Book" %}
            {% else %}
                {{ wizard.form }}
            {% endif %}
        </table>

        {% if wizard.steps.prev %}
            <button name="wizard_goto_step" type="submit"
                    value="{{ wizard.steps.first }}">{% trans "first step" %}</button>
            <button name="wizard_goto_step" type="submit"
                    value="{{ wizard.steps.prev }}">{% trans "prev step" %}</button>
        {% endif %}
        <input type="submit" value="{% trans "submit" %}"/>
    </form>
{% endblock %}
