/* List view */

table.dataTable, table.dataTable thead th, table.dataTable thead td {
    padding: 0;
    border-bottom: 0 !important;
    /*border: 1px solid black;*/
}

/* TODO find better condensed font than Oswald for non-OS X */
h3.list_header {
    font-family: "HelveticaNeue-CondensedBold", HelveticaNeue, "Oswald", Helvetica, Arial, sans-serif;
    margin-top: 0.5em;
    margin-bottom: 1.5em;
}

table th, table thead th {
    color: black;
    padding: 0;
}

table#book_list {
    font-size:97%;
}

table#book_list tbody td {
    padding-bottom: 0.75em;
    color: gray;
}

table#book_list th.th_date_added {
    width: 13em;
}

.list_title {
    width: 50%;
    vertical-align: top;
}

.list_author {
    width: 30%;
}

td.list_cover {
    width: 7%;
}

.list_number {
    text-align: center;
    width: 1.5em;
    padding: 0;
    text-align:right;
}

.list_download_link {
    text-align: center;
    width: 2em;
}

.list_date {
    width: 20%;
}

.list_tags {
    font-size: 90%;
    padding-top: 0.25em;
    padding-left: 1em;
    color: gray;
}

/* book info */

a.list_title {
    font-size:115%;
    color: #2e9dfd;
}

div.list_authors {
    font-size: 95%;
    line-height:145%;
    padding-top:0.5em;
}

span.list_authors {
    color: black;
}
