/* Sticky footer styles
-------------------------------------------------- */
html {
  position: relative;
  min-height: 100%;
}
body {
  /* Margin bottom by footer height */
  margin-bottom: 6em;
}
.footer {
  position: absolute;
  bottom: 0;
  padding-top: 1em;
  padding-bottom: 4em;
  width: 100%;
  /* Set the fixed height of the footer here */
  height: 4em;
  background-color: #f8f8f8;
  border-top: 1px solid #e7e7e7;
  color: #777;
}
